[Unit]
Description=ASimano daemon
After=network.target

[Service]
Type=forking
WorkingDirectory=/home/masm
ExecStart=/home/masm/asimano/asimanod.rb
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
